.blockOverlay {
	background-color: #dfdfdf !important;
	width: auto !important;
	height: auto !important;
	left: -15px !important;
	right: -15px !important;
	top: -15px !important;
	bottom: -15px !important;
}

.overlay {
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	position: relative;
}

.overlay__inner {
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	position: absolute;
}

.overlay__content {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}

.spinner {
	width: 75px;
	height: 75px;
	display: inline-block;
	border-width: 3px;
	border-color: rgba(178,178,178, 0.30);
	border-top-color: $turquoise;
	animation: spin 1s infinite linear;
	border-radius: 100%;
	border-style: solid;
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}

.hope-advocate-form_wrapper {
	
	margin: 0 auto !important;
	
	.hope-advocate-form {
		width: 450px;
		margin: 0 auto;
		padding-top: 60px;
		
		@media all and (max-width: 641px) {
			padding-top: 0;
		}
		
		a {
			font-size: 17px;
			line-height: 1.68;
			color: $turquoise;
		}
		
		.gfield_error {
			border: none !important;
			
			&:not(.gf_left_half):not(.gf_right_half) {
				max-width: 100% !important;
			}
			
		}
		
		.cards-images {
			
			display: flex;
			align-items: center;
			justify-content: center;
			
			img:last-child {
				
				margin-left: 10px;
				
			}
			
		}
		
		.hs-form-title {
			
			h2 {
				
				font-size: 30px;
				font-weight: bold;
				padding-bottom: 20px;
				border-bottom: 1px solid rgba($poppins-bold, 0.2);
				color: $poppins-bold;
				text-transform: capitalize;
				text-align: center;
			}
			
		}
		
		.hs-form-p {
			
			font-size: 24px;
			line-height: 1.25!important;
			color: $poppins-regular;
		
		}
		
		.hs-form-p-small {
			
			line-height: 1.25;
			color: $poppins-regular;
			font-size: 16px;
		
		}

		.ginput_container_consent {
			margin-top: 30px!important;
			
			.gfield_required {
				display: none;
			}
			
		}
		
		.gform_page_footer, .gform_footer {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			flex-direction: column-reverse;
		}

		li.gfield {
			padding-right: 0!important;
		}
		
		input[type=text], textarea, select {
			width: 100% !important;
			height: 80px;
			border-radius: 7px;
			font-size: 24px !important;
			line-height: 1.19;
			color: $poppins-regular;
			border-color: $border-input;
			background-color: $border-input;
			text-align: center;
			
			&::-moz-placeholder {
				
				font-size: 24px;
				line-height: 3;
				color: $poppins-regular;
				
			}
			
			&:-ms-input-placeholder {
				
				font-size: 24px;
				line-height: 1.5;
				color: $poppins-regular;
				
			}
			
			&::-webkit-input-placeholder  {
				
				font-size: 24px;
				line-height: 1.5;
				color: $poppins-regular;
				
			}
		
		}

		.gfield_price {

			margin-top: -20px!important;
			color: white;

			.ginput_container_singleproduct, .gfield_label, .ginput_product_price, .gfield_required {

				color: white;

			}

		}

		.option {
			
			&.privacy-policy {
				margin-top: 20px;
			}

			.gfield_checkbox {

				li {
					display: flex;
				}

				.icheckbox_flat-green {
					margin-top: 3px;
					margin-right: 5px;
				}

			}

		}

		.ap-footer {

			display: none;

		}

		.ginput_container_number {

			.instruction {

				display: none;

			}

		}

		.total-span-box {

			margin-top: 70px!important;

			.total-span {

				font-weight: bold;
				font-size: 20px;
				padding-right: 10px;
				padding-top: 7px;
				color: $poppins-normal!important;

			}

			.total-num-span {

				line-height: 1.25;
				font-size: 20px;
				text-align: center;
				font-weight: bold;
				color: $turquoise;

			}

		}


		.total {

			margin-top: 70px!important;
			display: flex;
			align-items: center;
			justify-content: flex-start;

			.gfield_description, .ginput_total {

				line-height: 1.25;
				font-size: 20px;
				margin: 0 !important;
				padding: 0 !important;
				text-align: center;
				font-weight: bold;
				color: $turquoise;

			}

			.gfield_label {

				font-weight: bold;
				font-size: 20px;
				padding-right: 10px;
				padding-top: 7px;
				color: $poppins-normal!important;

			}

		}

		input[type=file] {

			display: none;

		}
		
		.imgview {

			cursor: pointer;
			
		}
		
		textarea {
			
			min-height: 280px !important;
			
		}
		
		.ginput_container_consent {

			label {

				display: inline;
				margin-left: 10px;
				line-height: 1.25;
				color: $poppins-regular;
				font-size: 16px;
				
				a {
					
					line-height: 1.25;
					font-size: 16px;
				
				}

			}

		}
		
		.ginput_counter {
			
			font-size: 17px;
			line-height: 1.68;
			color: $turquoise;
			
			&.warningTextareaInfo {
				
				color: red;
				
			}
		
		}
		
		.radio-in-line {
			
			.gfield_radio {
				
				display: flex;
				justify-content: flex-start;
				align-items: center;
				
			}
			
		}
		
		.gform_ajax_spinner {
			display: none !important;
		}
		
		.gfield_radio {
			
			li {
				
				margin-right: 44px !important;
				@media only screen and (max-width: 641px) {
					margin-right: 10px !important;
				}
				
				label {
					
					font-size: 24px;
					line-height: 1.25;
					color: $poppins-regular;

					@media only screen and (max-width: 641px){

						width: unset;

					}
					
				}
				
			}
			
		}
		
		.hs-form-img, .preview-styles {
			display: inline-flex;
			align-items: center;

			@media only screen and (max-width: 641px){
				flex-wrap: wrap;
			}
			
			img {
				width: 33%;
				margin-right: 6px;

				@media only screen and (max-width: 641px){
					width: 100%;
					margin-right: 0;
					margin-bottom: 20px;

				}
			
			}
			
		}
		
		.circular-crop {
			.slim {
				border-radius: 50%;
			}
		}

		.card_style {

			.ginput_container_radio {

				display: none;

				.gfield_radio {
					
					display: flex;
					flex-wrap: nowrap;
					
					li {
						
						margin-right: 10px !important;
						
					}
					
				}
				

			}
			
			.preview-styles {
				
				width: 100%;
				
			}

			img {

				cursor: pointer;
				&.selected {

					border: 2px solid $turquoise;

				}

			}

		}
		
		.hope-ad-cards-desc {
			
			.images {
				
				padding-top: 20px;
				display: flex;
				flex-wrap: nowrap;
				
				img {
					
					width: 190px;
					height: 321px;
					
					&:first-child {
						
						margin-right: 10px;
						
					}
					
				}
				
			}
			
		}
		
		.gform_ajax_spinner {
			
			position: absolute;
			width: 70px;
			height: 60px;
			bottom: 0;
			
		}
		
		.gfield.gfield_creditcard_warning {
			
			border-top: none;
			border-bottom: none;
			background-color: transparent;
			
		}
		
		.ginput_container_creditcard, .gfield_creditcard_warning {
		
			label {
				
				font-size: 24px !important;
				line-height: 1.19;
				color: $poppins-regular !important;
				padding: 10px;
				
			}
			
			.ginput_card_field, input {
				
				margin-bottom: 20px !important;
				
			}
		
		}
		
		.gfield_creditcard_warning {
			
			margin: 50px 0 !important;
			
		}
		
		.hope-hit {
			
			.images {
				
				padding-top: 20px;
				
			}
			
		}
		
		.ginput_container_email {
			
			span {
				
				width: 100% !important;
				
				label {
					
					display: none !important;
					
				}
				
				&:first-child {
					
					margin-bottom: 1.313em !important;
					
				}
				
			}
			
		}
		
		.gfield_checkbox {
			
			label {
				
				font-size: 16px;
				line-height: 1.68;
				color: $poppins-regular;
			
			}
			
		}
		
		.chosen-container-single, .chosen-container-active {
			height: 80px;
			width: 100% !important;
			background: $border-input;
			box-shadow: none;
			
			&.chosen-with-drop {
				
				.chosen-single {
					
					border-color: rgba(0,0,0,0.075) !important;
					
				}
				
			}
			
			.chosen-single {
				
				height: 80px;
				background: transparent none !important;
				border-radius: 7px;
				font-size: 24px !important;
				line-height: 1.19;
				color: $poppins-regular;
				border-color: $border-input;
				box-shadow: none !important;
				
				span {
					
					height: 80px;
					line-height: 80px;
				}
				
				div {
					width: 28px;
					top: 25px;
					height: 40px;
					
					b {
						background-size: 90px 59px !important;
					}
					
				}
				
			}
			
			.chosen-drop {
				
				box-shadow: none;
				border-color: $border-input;
				
				
				.chosen-search-input {
					border-radius: 7px;
					font-size: 20px !important;
					background: none !important;
					
					&:hover, &:focus {
						
						border-color: $border-input !important;
						
					}
					
				}
				
				.chosen-results {
					
					padding: 0;
					margin: 0;
					margin: 10px 0;
					
					li {
						
						height: 60px;
						font-size: 20px !important;
						color: $poppins-regular;
						//line-height: 60px;
						padding: 15px;
						
						&.highlighted {
							
							background: rgba($turquoise, .2) none;
							color: $poppins-regular;
							
						}
					}
					
				}
				
			}
			
		}
		
		.chosen-container-active {
			.chosen-with-drop .chosen-single div b {
				background-position: -30px 2px;
			}
		}

		.coupon {

			font-size: 20px;

		}

		.order {

			font-size: 20px;
			ul {

				padding-left: 15px !important;

				li {

					color: $poppins-regular;

				}

			}

		}
		
		@media all and (max-width: 641px) {
			.ap-dropdown-menu {
				.ap-dataset-places {
					span {
						display: inline;
						margin-bottom: auto;
					}
				}
			}
		}
		
	}
	
}

.gform_confirmation_message {
	
	text-align: center;
	font-size: 24px;
	line-height: 1.25;
	color: $poppins-regular;
	padding: 60px 0px;
	
}

.slim-circular-crop {
	.slim-crop-area {
		&:after {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			border: 5px solid $turquoise;
			border-radius: 100%;
			z-index: 2;
			pointer-events: none;
		}
	}
}